{% extends 'news/base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<center>
{% for post in posts %}
 
  <div class="card">
      <div class="card-header">
      <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ post.text }}</p>
          <footer class="blockquote-footer">{{ post.created }}<br/><cite title="Source Title">{{ post.user }}</cite></footer>
        </blockquote>
      </div>
    </div>
    {% for comment in comments %} 
      {% if comment.post_id == post.id %}
        {{ comment }}<br>
      {% endif %}
    {% endfor %}
    <br>
  

  <form action="{% url 'comment' post.id %}" method="POST">
    {% csrf_token %}
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label>Comment</label>
        {{ form.text }}
      </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </form>

<br>
{% endfor %}
</center>


{% if posts.has_other_pages %}
  <ul class="pagination">
  {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
  </li>
  {% endif %}
  {% for i in posts.paginator.page_range %}
    {% if posts.number == i %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{ i }}<span class="sr-only"></span></a>
    </li>
    {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
  {% endif %}
  </ul>
{% endif %}  

{% endblock %}

