{% extends 'news/base.html' %}

{% block title %}registration{% endblock %}

{% block content %}
<form action="{% url 'registration' %}" method="post">
	{% csrf_token %}
	<div class="form-row">

		<div class="col-md-4 mb-3">
			<label>email</label>
			{{ form.email }}
			{% if form.errors %}				    
				{{ form.errors }}							
			{% endif %}
		</div>
		
		<div class="col-md-4 mb-3">
			<label>password</label>
			{{ form.password }}
			{% if form.errors %}
				{{ form.errors }}
			{% endif %}
		</div>
	</div>

	<div class="form-row">
		<div class="col-md-3 mb-3">
			<label>first name</label>
			{{ form.first_name }}
		</div>

		<div class="col-md-3 mb-3">
			<label>last name</label>
			{{ form.last_name }}
		</div>

		<div class="col-md-3 mb-3">
			<label>date of birth</label>
			{{ form.date_of_birth }}
		</div>

	</div>
	<button class="btn btn-primary" type="submit">Submit form</button>
</form>
{% endblock %}


<!-- {{ form.email }} 
{{ form.password }}
{{ form.first_name }}
{{ form.last_name }}
{{ form.date_of_birth }}  -->